.tree {
  border-left: 2px solid #aaa;
  margin-left: 2em;
  padding-left: 1em;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 1em;
  box-shadow: 1px 1px 7px #dadada;
  background-color: #fdfdfd;
}
