.storyLine {
  display: flex;
  align-items: center;
  border-left: 3px solid #aaa;
  margin-bottom: 0.5em;
  box-shadow: 2px 2px 1px whitesmoke;
  background-color: #fff;
  .storyTitle {
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 0.1em;
  }
  .score {
    font-size: 1.8em;
    opacity: 0.7;
    padding: 0.2em;
    margin: 0 0.2em;
    min-width: 50px;
    text-align: center;
  }
  .detailsBottomLine {
    display: flex;
    font-size: 0.8em;
    a {
      color: #a7a7a7;
    }
  }
  .author {
    margin-right: 1em;
  }
}
