.error404 {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

svg {
  height: 100%;
  width: 100%;
}
.hullam {
  offset-rotate: 0deg;
  offset-path: path(
    "m 0,20 c 5,0 8.2,-5.5 16,-1 12,7 16.7,-4.5 26,1 10,6 14.3,-6 24,1 7.2,5.2 12.6,-1 14,-1"
  );
  animation: move 14s linear infinite;
  &:nth-child(odd) {
    offset-path: path(
      "m 0,20 c 5,0 8,5 16,-1 10,-7.5 19,7 26,1 8.8,-7.6 17,7 24,1 6.7,-5.8 11,-1 14,-1"
    );
  }
}

.clouds {
  offset-rotate: 0deg;
  offset-path: path("m0 0l-1020 0");
  animation: move 365s linear infinite;
}

.stars {
  position: relative;
  circle {
    fill: #d3bc5f;
    animation: sparkle 100.5s linear infinite;
    transform-origin: 50%;
    &:nth-child(3n + 0) {
      animation: sparkle 1.5s linear infinite;
    }
    &:nth-child(3n + 1) {
      animation: sparkle 1s linear infinite;
    }
  }
}

#light {
  //display: none;
  animation: flashing 10s linear infinite;
}

@keyframes sparkle {
  25%,
  70% {
    opacity: 0.6;
  }
  0%,
  50%,
  100% {
    opacity: 0.2;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes flashing {
  0%,
  35%,
  35.3%,
  35.6%,
  35.8%,
  75%,
  76.5%,
  77.1%,
  79.4%,
  80%,
  100% {
    opacity: 0;
  }
  35.2%,
  35.7%,
  76.3%,
  76.9%,
  79.7% {
    opacity: 1;
  }
}

@keyframes textFlashing {
  0%,
  35%,
  35.3%,
  35.6%,
  35.8%,
  75%,
  76.5%,
  77.1%,
  79.4%,
  80%,
  100% {
    color: #ccc;
    text-shadow: 0px 0px 0vw rgba(255, 255, 255, 0);
  }
  35.2%,
  35.7%,
  76.3%,
  76.9%,
  79.7% {
    color: #fff;
    text-shadow: 0px 0px 5vw rgba(255, 255, 255, 0.3);
  }
}

.message.container {
  position: absolute;
  bottom: 8%;
  top: auto;
  left: 50%;
  transform: translate(-50%);
  color: white;
  animation: textFlashing 10s linear infinite;
  font-family: "Open Sans", serif;
  font-weight: 200;
  transition: all 0.3s;
  h1 {
    font-size: 20vw;
    margin: 0;
    line-height: 0.8em;
  }
  h2 {
    font-size: 3.5vw;
    padding-left: 5px;
  }
  h1,
  h2 {
    transition: font-size 0.1s;
    font-weight: 200;
  }
}

@media only screen and (min-width: 450px) and (orientation: landscape) {
  .message.container {
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translate(-25%, -50%);
    h1 {
      font-size: 15vw;
    }
    h2 {
      font-size: 2.5vw;
    }
    h1,
    h2 {
      font-weight: 200;
    }
  }
}
